{% extends "basic.html" %}
 {% block title %}<title>Главная</title>{% endblock %}

{% block content %}


 <h1>Список заявок</h1>
       <table>
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Название</th>
                <th>Статус</th>
                <th>Дата создания</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.user }}</td>
                    <td>{{ application.title }}</td>
                    <td>{{ application.get_status_display }}</td>
                    <td>{{ application.created_at }}</td>
                    <td><a href="{% url 'application_detail' application.pk %}">Подробнее</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}